main {
  min-height: 60vh;
}

.navbar.bg-dark {
  background-color: #ec9996 !important;
}

.h1-thin {
  font-size: 3rem;
  font-weight: 350;
}

.h1-bold {
  font-size: 3.5rem;
  font-weight: 700;
  color: #f55b92;
}

p {
  font-size: 1rem;
  color: #000000;
}

.footer {
  height: auto;
  background-color: #ec9996ad;
}

.success-badge {
  background-color: #00b74a;
}

.note-light {
  background-color: #fbfbfb;
  border-color: #262626;
}

.note {
  padding: 10px 30px;
  border-left: 6px solid;
  border-radius: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex > div {
  margin: 12px;
} 

.opt {
  font-size: small;
  border: 1px solid black;
  padding: 2px;
}


/* .progresses {
  position: relative;
  max-width: 88%;
  margin-left: 10px;
}

.progresses ul {
  list-style: none;
  padding: 0
}

.progresses ul li {
  top: 5.5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #a5a1a1;
  z-index: 200;
  position: relative
}

.progresses ul li.active {
  color: #262626;
  background-color: #262626;
}

.progresses ul li::after {
  position: absolute;
  top: 18px;
  left: -15px;
  font-size: 0.85rem;
  width: 100px
}

#step-1::after {
  content: "Placed"
}

#step-2::after {
  content: "Confirmed";
  left: -30px;
}

#step-3::after {
  content: "Preparing";
  left: -25px;
}

#step-4::after {
  content: "Out for delivery";
  left: -40px;
}

#step-5::after {
  content: "Delivered";
  left: -22px;
}

.progresses .progress {
  height: 0.22rem;
  width: 100%;
  top: 33px;
  position: absolute;
  background-color: #f0f0f0;
  border-radius: 10px
}

.progress-bar {
  background-color: #262626;
} */



.track {
  position: relative;
  background-color: #ddd;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 50px
}

.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  margin-top: -18px;
  text-align: center;
  position: relative
}

.track .step.active:before {
  background: #3459e6
}

.track .step::before {
  height: 7px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 18px
}

.track .step.active .icon {
  background: #3459e6;
  color: #fff
}

.track .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: #ddd
}

.track .step.active .text {
  font-weight: 400;
  color: #000
}

.track .text {
  display: block;
  margin-top: 7px
}


/* .itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}

p {
    margin-top: 0;
    margin-bottom: 1rem
} */

.btn-back {
    color: #ffffff;
    border-radius: 1px
}

.btn-back:hover {
    color: #ffffff;
    border-radius: 1px;
}

.bg-violet {
  background-color: #ffa900;
  border: #ffa900;
}

.btn-success {
  background-color: #00b74a;
  border: #00b74a;
}

/* .btn-info {
  background-color: hsl(194, 96.6%, 38.5%);
  border: hsl(194, 96.6%, 38.5%);
} */



#payment-form {
  width: auto;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
.stripe-button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.stripe-button:hover {
  filter: contrast(115%);
}

.stripe-button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}