main {
  min-height: 60vh;
}

.navbar.bg-dark {
  background-color: #ec9996 !important;
}

.h1-thin {
  font-size: 3rem;
  font-weight: 350;
}

.h1-bold {
  font-size: 3.5rem;
  font-weight: 700;
  color: #f55b92;
}

p {
  font-size: 1.05rem;
}

.footer {
  height: auto;
  background-color: #ec9996ad;
}

.success-badge {
  background-color: #00b74a;
}

.note-light {
  background-color: #fbfbfb;
  border-color: #262626;
}

.note {
  padding: 10px 30px;
  border-left: 6px solid;
  border-radius: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.opt {
  font-size: small;
  border: 1px solid black;
  padding: 2px;
}



/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
